# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/
/wp-content/themes/*
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
!/wp-content/themes/wp-tailwind/
!/wp-content/themes/wp-tailwind/*
!/wp-content/themes/wp-tailwind_old/
!/wp-content/themes/wp-tailwind_old/*
# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
# /wp-content/themes
.gitignoreZone.Identifier
index.phpZone.Identifier
license.txtZone.Identifier
LICENSEZone.Identifier
readme.htmlZone.Identifier
README.mdZone.Identifier
wp-activate.phpZone.Identifier
wp-blog-header.phpZone.Identifier
wp-cli.pharZone.Identifier
wp-comments-post.phpZone.Identifier
wp-config-ddev.phpZone.Identifier
wp-config-sample.phpZone.Identifier
wp-config.phpZone.Identifier
wp-cron.phpZone.Identifier
wp-links-opml.phpZone.Identifier
wp-load.phpZone.Identifier
wp-login.phpZone.Identifier
wp-mail.phpZone.Identifier
wp-settings.phpZone.Identifier
wp-signup.phpZone.Identifier
wp-trackback.phpZone.Identifier
xmlrpc.phpZone.Identifier
