/**
 * Custom styles to immediately follow Tailwind’s `utilities` layer
 *
 * Add your own utility classes to this theme. Complex utility classes should
 * be added using Tailwind’s plugin system:
 *
 * https://tailwindcss.com/docs/plugins#adding-utilities
 */

/* Main Container */

.main-container {
  @apply grid grid-cols-12 grid-flow-row auto-rows-auto auto-cols-fr
}

/* Sticky Header */

header {
  .fixed-logo {
    position: fixed;
    top: 0;
    left: 0;
    @apply max-w-xs;
  }

  .hamburger-container.translate-y-0 {
    transform: translateY(0);
  }

  .hamburger-container.-translate-y-full {
    transform: translateY(-100%);
  }

}

/* Mega Menu */

.main-menu-item {
  height: 100%;
  padding: 0 12px;

  >a {
    padding: 12px 0 40px;
    margin-bottom: -40px;
  }
}

.main-menu-item:first-of-type {
  padding-left: 50px;
  padding-right: 12px
}

.main-menu-item:last-of-type {
  padding-left: 12px;
  padding-right: 50px
}

.main-menu-item:hover {
  padding-left: 24px;
  padding-right: 24px
}

.main-menu-item:first-of-type:hover {
  padding-left: 50px;
  padding-right: 24px
}

.main-menu-item:last-of-type:hover {
  padding-left: 24px;
  padding-right: 50px
}

.main-menu-item:has(+.main-menu-item:hover) {
  padding-right: 0;
}

.main-menu-item:hover+.main-menu-item {
  padding-left: 0;
}

/* Hamburger */

.hamburger-button {
  background: none;
  border: none;
  cursor: pointer;
  height: 55px;
  width: 60px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border-radius: 0 0 0 25px;

  span {
    &:nth-child(3) {
      width: 60%;
    }
  }

  &:hover {
    border-radius: 0;
    background: orange;

    span {
      width: 100%;
    }


  }

  &:has(.open) {
    border-radius: 0;
  }
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 33px;
  height: 32px;
  transition: all 0.3s ease;

  span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease;
  }

  &.open {
    width: 30px;
    height: 22px;
    animation: spin 0.3s forwards;

    span {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &:nth-child(2) {
        width: 80%;
        opacity: 0;
      }


      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
        width: 100%;
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.slide-fade-in {
  animation: slideFadeIn 1s ease-out forwards;
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Text Component */
.text-component {
  @apply max-w-2xl p-6 text-5xl mx-auto text-red-500;
}